@{ 
    Layout = null;
} 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parks</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <div style="text-align:center">
        <header>
            <img src="~/Content/images/logo.png" />
            <h1>National Park Geek</h1>
        </header>
    </div>


    <nav>
        <ul>
            <li>@Html.ActionLink("Park View", "Index", "Home")</li>
            <li>@Html.ActionLink("Detail View", "Detail", "Home")</li>
            <li>@Html.ActionLink("Survey View", "Survey", "Home")</li>
        </ul>

    </nav>
   <div>
    @RenderBody()
       </div>

    <section id="main-content">

    </section>
</body>
</html>
