@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewBag.Title = "Index";
}

<h1>Favorites</h1>
<section>
    <table>
        
        @foreach (var item in Model)
        {
            
                

                

                
                    <a class=" parklinks" href="@Url.Action("Detail", "Home", new { id = item.ParkCode})">
                        @Html.DisplayFor(modelItem => item.ParkName)
                    </a>
                
            
        }
    </table>
</section>