@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewBag.Title = "Favorite";
}

<h2>Favorite</h2>

<table class="table">
    <tr>
        <th>
            <p>Survey Submitted!</p>
        </th>
    </tr>




</table>
