@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewBag.Title = "Index";
}
<h1>Park View</h1>
<section>
    @foreach (var item in Model)
    {
        var parkImage = "/Content/images/parks/" + item.ParkCode + ".jpg";

        <img class="img-left" src=@parkImage />

        <h2>
            <a class=" parklinks" href="@Url.Action("Detail", "Home", new { id = item.ParkCode})">

                @Html.DisplayFor(modelItem => item.ParkName)
            </a>
        </h2>
        <p>located in  @Html.DisplayFor(modelItem => item.State)</p>
        <p>
            @Html.DisplayFor(modelItem => item.ParkDescription)
        </p>
    }
</section>
