@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewBag.Title = "Index";
}

<h2>List of Parks</h2>

<p>

</p>
<section>


    @foreach (var item in Model)
    {

        var parkImage = "/img/parks/" + item.ParkCode;

        <a href="@Html.ActionLink("Details", "Details", new { id=item.ParkCode }) |">
            <img class="img-left" src=@parkImage />
        </a>

        <h2>

            
                @Html.DisplayFor(modelItem => item.ParkName)
            
        </h2>
        <h3>
            @Html.DisplayFor(modelItem => item.State)
        </h3>

            <p>
                @Html.DisplayFor(modelItem => item.ParkDescription)
            </p>


            
}

</section>
