@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewBag.Title = "Index";
}

<div>
    @foreach (var item in Model)
    {
        var parkImage = "/Content/images/parks/" + item.ParkCode + ".jpg";

        <img class="img-left" src=@parkImage />

        <h3>
          
            <a href="@Url.Action("Detail", "Home", new { id = item.ParkCode})">

                <span>   @Html.DisplayFor(modelItem => item.ParkName) </span>
            </a>
           
        </h3>
        <p>located in  @Html.DisplayFor(modelItem => item.State)</p>
        <p>
            @Html.DisplayFor(modelItem => item.ParkDescription)
        </p>
    }
</div>
