@using Capstone.Web.Models;
@model Capstone.Web.Models.Survey

@{
    ViewBag.Title = "Survey";
}

@using (Html.BeginForm("PostSurvey", "Home", FormMethod.Post))
{
    <div class="formInputGroup">
        @Html.Label("ParkCode", "Which park did you visit?")
        @Html.DropDownListFor(m => m.ParkCode, Model.ParkSelectListItems)
    </div>
    <div class="formInputGroup">
        @Html.Label("State", "State")
        @Html.DropDownListFor(m => m.State, Survey.States)
    </div>

    <button class="formSubmitButton">SUBMIT!</button>
}