body {
    width: 100%;
    background-color: #212121;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body, nav {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #009933;
    color: white;
    padding: 10px 10px;
    text-align:center;
    width: 100%;
    
    
}

    header img{
        width: 35%;
    }
div {
    display: inline-block;
    width: 50%;
}
.weatherRow{
    
    display: flex;
    
    
}

h1 {
    color: black;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}
h2 {
    color: darkgreen;
    font-size: large;
    font-family: 'Bell MT';
}
p1 {

}
p2 {
    font-size: smaller;
}
nav {
    background-color: #663300;
    margin-bottom: 20px;
    padding: 5px;
    height: 50px;
    /*width: 100%*/
}
    nav ul {
        float: left;
    }
    nav li {
        list-style-type: none;
        color: white;
        margin-left: 25px;
        margin-bottom: 10px;
        font-size: 1.3em;
        float: left;
    }
        nav li a {
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
            nav li a:hover {
                text-shadow: 4px 4px 1px #000000;
            }
section {
    clear: both;
    display: block;
    width: 90%;
    margin: auto;
    vertical-align: top;
    text-align: center;
    min-height: 450px;
    background-color: #FFF;
    border-radius: 7px;
    padding: 10px 10px 10px 10px;
}

.small {
    /*position: relative;
    float: left;
    width: 250px;
    height: 200px;
    margin: 10px 20px 10px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;*/
    border-radius: 50%;
    width: 175px;
    height: auto;
    border: 5px solid black;
}
.img-center {
    /*position: relative;
    float: none;
    width: 250px;
    height: 200px;
    margin: 10px 20px 10px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;*/
    border-radius: 30%;
    width: 450px;
    height: auto;
    border: 10px solid black;
}
.img-center-header {
    display:inline-block;
    margin:0 auto;
}
.img-weather {
    width: 25px;
    height: 25px;
}

/*.right{
    float:right;
}
.left {
    float: left;
}*/
span {
    color:black;
}
span:hover {
    color:forestgreen;
}
span:visited {
    color:black;
}
.form-control {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.formSubmitButton {
    width: 20%;
    background-color: #009933;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
        .formSubmitButton:hover {
            background-color: #10A943;
        }